body {
  height: 1vh;
  background-color: rgb(255, 255, 190);
}

p {
  font-size: 0.8em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}

.result {
  display: flex;
  gap: 1rem;
}

.result-style {
  width: 15rem;
  height: 15rem;
  border: solid black 1px;
}

.error {
  display: flex;
  width: 15rem;
  height: 10rem;
  border: solid black 1px;
  background-color: rgb(255, 181, 181);
}

.loading {
  border: 2rem solid #d6b2ff;
  border-top: 2rem solid rgb(88, 88, 151);
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
